<div class="list-group list-books pt-3">
  {{#each books}}
    <a href="/libraries/books/{{IdEncode}}/bookmarks" class="list-group-item list-group-item-action border-0 border-bottom"
      data-id-libro-encode="{{IdEncode}}" data-id-libro="{{VolumeID}}" data-titulo-libro="{{BookTitle}}"
      data-autor-libro="{{Autor}}" data-cant-anotaciones="{{Annotations}}" data-cant-subrayados="{{Highlights}}"
      data-cant-citas="{{Quotes}}" data-cant-palabras="{{Words}}" data-cant-definiciones="{{Definitions}}"
      data-cant-vocabulario="{{Vocabulary}}" data-cant-marcadores="{{Dogears}}" data-cant-bookmarks="{{Bookmarks}}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="labrada mb-1">{{BookTitle}}</h5>
      </div>
      <p class="labrada mb-1"><i class="fad fa-feather-alt pe-1"></i>{{Autor}}</p>
      <div class="d-flex w-100 justify-content-between">
        <small title="Resaltes"><i class="fas fa-inbox pe-1"></i>{{Bookmarks}} Resaltes</small>
        <small>
          <span title="Anotaciones"><i class="fad fa-pencil pe-1"></i>{{Annotations}}</span>
          <span title="Subrayados"><i class="fad fa-highlighter ps-2 pe-1"></i>{{Highlights}}</span>
          <span title="Citas"><i class="fad fa-quote-right ps-2 pe-1"></i>{{Quotes}}</span>
          <span title="Vocabulario"><i class="fad fa-book ps-2 pe-1"></i>{{Vocabulary}}</span>
          <span title="Definiciones"><i class="fad fa-graduation-cap ps-2 pe-1"></i>{{Definitions}}</span>
          <span title="Palabras"><i class="fad fa-font ps-2 pe-1"></i>{{Words}}</span>
        </small>
      </div>
    </a>
    {{/each}}
</div>