<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{titulo}} | KbNotes</title>
  <link rel="stylesheet" href="/static/libraries/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/general.css">
  <link rel="stylesheet" href="/static/libraries/fontawesome/css/all.min.css">

</head>
<style>
</style>
<body>

  <div id="loading_screen" class="loading-screen">
    <div class="loader">
      <div class="logo-loading">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="34" height="34" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="mdi:book-open-page-variant" data-width="34" data-height="34"><path fill="currentColor" d="m19 2l-5 4.5v11l5-4.5zM6.5 5C4.55 5 2.45 5.4 1 6.5v14.66c0 .25.25.5.5.5c.1 0 .15-.07.25-.07c1.35-.65 3.3-1.09 4.75-1.09c1.95 0 4.05.4 5.5 1.5c1.35-.85 3.8-1.5 5.5-1.5c1.65 0 3.35.31 4.75 1.06c.1.05.15.03.25.03c.25 0 .5-.25.5-.5V6.5c-.6-.45-1.25-.75-2-1V19c-1.1-.35-2.3-.5-3.5-.5c-1.7 0-4.15.65-5.5 1.5V6.5C10.55 5.4 8.45 5 6.5 5"></path></svg>
      </div>
      <p class="description-loading h5 labrada">Cargando...</p>
    </div>
  </div>

  <main>
    <div class="side-menu">
      <div class="side-menu-logo">
        <a href="/" class="link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right"
          data-bs-original-title="Icon-only" data-bcup-haslogintext="no">
          <span class="iconify" data-icon="mdi:book-open-page-variant" data-width="20" data-height="20"></span>
          <span class="visually-hidden">Icon-only</span>
        </a>

      </div>
      <ul class="side-menu-options">
        <li class="">
          <a href="/libraries/{{libraryId}}/books" class="text-reset py-3 rounded-0" aria-current="page"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Librería" aria-label="Libería" data-bs-original-title="Libería"
            data-bcup-haslogintext="no">
            <i class="fad fa-arrow-alt-from-right"></i>
          </a>
        </li>
        <li class="">
          <a href="/libraries/{{libraryId}}/books/{{bookBefore.VolumeID}}/bookmarks" class="text-reset py-3 rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="{{bookBefore.BookTitle}}" aria-label="{{bookBefore.BookTitle}}" data-bs-original-title="{{bookBefore.BookTitle}}" data-bcup-haslogintext="no">
            <i class="fad fa-angle-up"></i>
          </a>
        </li>
        <li class="">
          <a href="/libraries/{{libraryId}}/books/{{bookAfter.VolumeID}}/bookmarks" id="book_next" class="text-reset py-3 rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="{{bookAfter.BookTitle}}" aria-label="{{bookAfter.BookTitle}}" data-bs-original-title="{{bookAfter.BookTitle}}" data-bcup-haslogintext="no">
            <i class="fad fa-angle-down"></i>
          </a>
        </li>

      </ul>
      <div class="side-menu-bottom">
        <i class="fas fa-cog"></i>
      </div>
    </div>

    <div class="content-data">

      <div class="content-data-topbar">
        <div class="container-fluid">
          <div id="mcbntop-item-tools" class="align-items-center hstack gap-3">
            <div class="p-2">
              <div id="dpd_filters" class="btn-group">
                <button class="btn btn-warning border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  data-bs-auto-close="true" aria-expanded="false">
                  <i class="fad fa-filter me-1"></i><span id="span_btn_dpd_filters">{{lang.All}}</span>
                </button>
                <ul id="dpd_filters_menu" class="dropdown-menu">
                  <li><a class="dropdown-item d-flex gap-2 align-items-center active" data-filter-category="all" href="#"><i
                        class="fad fa-layer-group pe-2"></i>Todos</a></li>
                  <li><a class="dropdown-item d-flex gap-2 align-items-center" data-filter-category="note" href="#"><i
                        class="fad fa-pencil pe-2"></i>Anotacion</a></li>
                  <li><a class="dropdown-item d-flex gap-2 align-items-center" data-filter-category="highlight" href="#"><i
                        class="fad fa-highlighter pe-2"></i>Subrayados</a></li>
                  <li><a class="dropdown-item d-flex gap-2 align-items-center" data-filter-category="quote" href="#"><i
                        class="fad fa-quote-right pe-2"></i>Citas</a></li>
                  <li><a class="dropdown-item d-flex gap-2 align-items-center" data-filter-category="vocabulary" href="#"><i
                        class="fad fa-book pe-2"></i>Vocabulario</a></li>
                  <li><a class="dropdown-item d-flex gap-2 align-items-center" data-filter-category="definition" href="#"><i
                        class="fad fa-graduation-cap pe-1"></i>Definiciones</a></li>
                  <li><a class="dropdown-item d-flex gap-2 align-items-center" data-filter-category="word" href="#"><i
                        class="fad fa-font pe-2"></i>Palabras</a></li>
                </ul>
              </div>
            
            </div>
            <div class="p-2 ms-auto">
              <button type="button" id="btn_orden_tipo" class="btn btn-outline-dark border-0 me-1" data-bs-toggle="button"><i class="fad fa-sort-amount-down"></i><span class="ps-2 d-none d-md-block">Descendente</span></button>
              <button type="button" id="btn_orden_tipo" class="btn btn-outline-dark border-0 me-1" data-bs-toggle="button"><i class="fas fa-sort-shapes-up"></i><span class="ps-2 d-none d-md-block">Tipo</span></button>
              <button type="button" id="btn_orden_fecha" class="btn btn-outline-dark border-0 me-1" data-bs-toggle="button"><i class="fad fa-calendar-day"></i><span class="ps-2 d-none d-md-block">Fecha</span></button>
              <button type="button" id="btn_export" class="btn btn-outline-dark border-0" data-bs-toggle="modal" data-bs-target="#export_modal"><i class="fad fa-file-export me-1"></i><span class="d-none d-md-block">Exportar</span></button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="content-data-head">

        <div id="mcbntop-item-book-info" class="py-2 px-4 d-none" style="background-color: #ffcd39;">
          <p class="h5 labrada mb-1">{{book.BookTitle}}</p>
          <span class="labrada"><i class="fad fa-feather-alt me-1"></i>{{book.Autor}}</span>
        </div>

      </div>

      <div class="content-data-page">

          <div id="mc-bbookmarks-list" class="container-fluid">
            {{{body}}}
          </div>

          <div id="toast_content" class="position-fixed bottom-0 end-0 p-3" style="z-index: 10000;">
            <div id="toast_copiar" class="toast align-items-right text-bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="d-flex">
                <div class="toast-body">
                  <i class="fad fa-clipboard me-2"></i>¡Copiado!
                  <p id="toast_message" class="text-truncate" style="max-width: 265px;"></p>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
            </div>
          </div>

          <div class="modal fade" id="export_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fad fa-file-export me-2"></i>Exportar marcadores</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                  <p class="text-center">Elige el formato o servicio para exportar</p>


                  <div class="hstack gap-3 col-md-6 mx-auto">
                    <div class="bg-light">
                      <button type="button" id="btn_markdown_export" class="btn btn-outline-dark"><i class="fab fa-markdown me-2" style="font-size: 2em;"></i>Markdown</button>
                    </div>
                    <div class="bg-light">
                      <button type="button" id="btn_notion_export" class="btn btn-outline-dark"><span class="iconify flex-shrink-0 me-2" style="font-size: 2em;" data-icon="simple-icons:notion"></span><span>Notion API</span></button>
                    </div>

                  </div>



                </div>
                <div class="modal-body mx-3">
                  <div class="d-flex align-items-center">
                    <strong>Creando página...</strong>
                    <div class="spinner-border text-warning ms-auto" role="status" aria-hidden="true"></div>
                  </div>
                </div>


              </div>
            </div>
          </div>


      </div>  
        
    </div>
    <div id="mc-bookmarks-bg-dark"></div>
    <div id="mc-words-list" class="content-info">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-12 pt-3 pb-2">
            <span style="font-size: 2.5em;"><i class="fad fa-font rounded-circle" style="background-color: #ffc107; padding: .3em .4em .3em .4em;"></i></span>
            <p class="h4 labrada">Mis Palabras</p>
          </div>
          <hr class="mx-auto" style="width: 90%;">
        </div>
        {{#showListWords words}}
        {{/showListWords}}
      </div>
    </div>


    <div class="navbar-bottom">
      <ul class="navbar-list">
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="/libraries"><i class="fad fa-line-columns"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="/libraries/{{libraryId}}/books"><i class="fad fa-arrow-alt-from-right"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="/libraries/{{libraryId}}/books/{{bookBefore.VolumeID}}/bookmarks"><i class="fad fad fa-angle-up"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a href="/libraries/{{libraryId}}/books/{{bookAfter.VolumeID}}/bookmarks"><i class="fad fa-angle-down"></i></a></div></li>
        <li><div class="navbar-blist-item rounded-circle text-center d-flex align-items-center justify-content-center"><a id="mostrarOcultarBtn"><i class="fad fa-font"></i></a></div></li>
      </ul>
      
    </div>



    
  </main>
  <script src="/static/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script src="/static/js/bookmarks.js"></script>

  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Al hacer clic en el botón de mostrar/ocultar
  
      document.getElementById("mostrarOcultarBtn").addEventListener("click", function() {
        // Mostrar la columna oculta con una animación de deslizamiento
        

        document.body.style.overflow = "hidden";


        document.getElementById("mc-bookmarks-bg-dark").style.display = "block";

        document.getElementById("mc-words-list").style.display = "block";
        setTimeout(function () {
          document.getElementById("mc-words-list").style.right = "0";
        }, 50);

      });

      // Al hacer clic en el botón de cerrar
      document.getElementById("mc-bookmarks-bg-dark").addEventListener("click", function() {
        // Ocultar la columna oculta con una animación de deslizamiento
        document.body.style.overflow = 'auto';

        document.getElementById("mc-words-list").style.right = "-75%";
          document.getElementById("mc-bookmarks-bg-dark").style.display = "none";
        setTimeout(function () {
          document.getElementById("mc-words-list").scrollTop = 0;
          document.getElementById("mc-words-list").style.display = "none";
        }, 300);
      });

var cajaInfoBook = document.getElementById('mcbntop-item-book-info');
  var hrCajaInfoBook = document.getElementById('book_hr');
  
        // Función para manejar el evento de scroll
  function handleScroll() {
    var rect = hrCajaInfoBook.getBoundingClientRect();

    // Si el hr es visible en la pantalla, mostrar la caja
    if (rect.top >= 0 && rect.bottom <= window.innerHeight) {


      cajaInfoBook.classList.add('d-none');





    } else {
      // Si el hr no es visible, ocultar la caja
      cajaInfoBook.classList.remove('d-none');
    }





  }

  window.addEventListener('scroll', handleScroll);


    });
  </script>
  
</body>
</html>